**/core
!core/

**/*~
**/*.pyc
**/.*.swp
**/.*.swo
**/*.o
*.dSYM

jsonnet
_jsonnet.so
libjsonnet.so
libjsonnet++.so
libjsonnet.js
libjsonnet_test_file
libjsonnet_test_snippet
**/core.*
**/vgcore
**/vgcore.*
core/std.jsonnet.h
Makefile.depend
Makefile.depend.bak
bazel-*

**/*.tfstate
**/*.tfstate.backup

build/
dist/
jsonnet.egg-info/

