*~
.*.swp
.swp
*.o
jsonnet
_jsonnet.so
libjsonnet.so
/libjsonnet.js
libjsonnet_test_file
libjsonnet_test_snippet
core
core.*
vgcore
vgcore.*
*.jsonnet.h

# Fractal demo
case_studies/fractal/*.packer.log
case_studies/fractal/*.packer.done
case_studies/fractal/*.packer.json
case_studies/fractal/terraform.done
case_studies/fractal/terraform.plan
case_studies/fractal/service.list
case_studies/fractal/*.tf
case_studies/fractal/service_account_key.json
case_studies/fractal/imgproc/mandelbrot
case_studies/fractal/*.pyc
case_studies/fractal/*.tfstate
case_studies/fractal/*.tfstate.backup
case_studies/fractal/credentials.jsonnet
case_studies/fractal-prod

