language: generic

matrix:
  include:
    - os: linux
      env: COMPILER_NAME=gcc CXX=g++-4.9 CC=gcc-4.9
      addons:
        apt:
          packages:
            - g++-4.9
          sources: &sources
            - llvm-toolchain-precise-3.8
            - ubuntu-toolchain-r-test    
    - os: linux
      env: COMPILER_NAME=clang CXX=clang++-3.8 CC=clang-3.8
      addons:
        apt:
          packages:
            - clang-3.8
          sources: *sources
    - os: osx
      osx_image: xcode8
      env: CC=gcc-4.9 && CXX=g++-4.9
    - os: osx
      osx_image: xcode8
      env: CC=clang && CXX=clang++

before_install:
  - echo $LANG
  - echo $LC_ALL
  - $CXX --version

script:
  #    - rvm get head  # Workaround 'shell_session_update: command not found'
  - set -e
  - make test
  - python setup.py build
  - python setup.py test
  # Test CMake build scripts.
  - cmake . -Bbuild && cmake --build build --target run_tests
  # make a tarfile for the binaries and rename for os and tag
  - make dist
  - mv jsonnet-bin.tar.gz jsonnet-bin-${TRAVIS_TAG}-${TRAVIS_OS_NAME}.tar.gz

deploy:
  provider: releases
  api_key: $JSONNET_GITHUB_TOKEN
  file: jsonnet-bin-${TRAVIS_TAG}-${TRAVIS_OS_NAME}.tar.gz
  skip_cleanup: true
  on:
    tags: true
    # no point deploying the images built with both compilers
    condition: $CC =~ gcc

branches:
  only:
    - master
    # the branch name is the tag name, so having only master means you can't
    # trigger a build by just push a tag - so add in a regex to match tags that
    # should trigger. 
    - /^v.*$/

notifications:
  recipients:
    - sparkprime@gmail.com
  email:
    on_success: change
    on_failure: always
  irc:
    channels:
      - "chat.freenode.net#jsonnet"
    template:
      - "%{repository}/%{branch} (%{commit} - %{author}): %{message}"
