/* Cellphone width. */

div#header {
  margin-bottom: 32px;
}

div.panel {
  float: top;
}
div.header2 {
  max-width: 720px;
}
#header-title {
  margin-right: 16px;
}

.header-element {
  margin-left: 12px;
  margin-right: 12px;
}

a#groupsmark, a#githubmark, a#gomark {
  margin: 8px;
}

img#big-logo {
  height: 216px;
}

td.side-text {
  padding-left: 64px;
  padding-right: 64px;
}

table.venn {
  padding-top: 16px;
}

img#venn {
  height: 220px;
}

.tab-window-input {
  margin: 16px 0 0 0;
}

.tab-window-output {
  margin: 0 0 16px 0;
}

.bigarrow {
  transform: rotate(90deg);
}

img.user-logo {
    height: 80px;
}

