/* Cellphone width. */

div#header {
  margin-bottom: 16px;
}

div.panel {
  width: 512px;
}
div.header2 {
  max-width: 640px;
  padding: 12px 6px;
}
#header-title {
  font-size: 28px;
  margin-right: 12px;
}

.header-element {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 17.5px;
}

a#groupsmark, a#githubmark, a#gomark {
  margin: 8px 6px;
}

img#big-logo {
  height: 189px;
}

table.venn {
  padding-top: 16px;
}

img#venn {
  height: 164px;
}

.tab-window-input {
  margin: 16px 0 0 0;
}

.tab-window-output {
  margin: 0 0 16px 0;
}

.bigarrow {
  transform: rotate(90deg);
}

img.user-logo {
    height: 80px;
}

