/* Non-responsive style. */

body {
  font-family: 'Open Sans';
  text-size-adjust: none;
  margin: 0;
}

div#header {
  background-color: #000000;
  width: 100%;
}

a#header-logo img {
  width: 48px;
  height: 48px;
}

div.hgroup {
  text-align: center;
  font-size: 18px;
}

div.hgroup-inline {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

div.header2 {
  margin: 0 auto;
  height: 48px;
  text-align: left;
  padding: 12px;
}

#header-title {
  font-size: 32px;
  margin-right: 16px;
}

div.panel {
  width: 640px;
  margin: 8px auto;
  text-align: justify;
}

div.wide {
  width: 928px;
  box-sizing: border-box;
  background: white;
  padding: 32px;
  border-radius: 5px;
  margin: 32px auto;
  box-shadow: 0 0 16px 16px #0064bd;
}

div.panel p.padded {
    padding: 0 20px;
}

.header-element {
  float: left;
  font-size: 20px;
  line-height: 48px;
  height: 48px;
  margin: 0;
  color: white;
  text-decoration: none;
}

a#groupsmark, a#githubmark, a#gomark {
  width: 32px;
  height: 32px;
  float: right;
}

a#groupsmark {
  background: url("/img/google_groups.png");
}

a#githubmark {
  background: url("/img/GitHub-Mark-Light-32px.png");
}

a#gomark {
  background: url("/img/gopher.svg");
}

div.menu div {
  cursor: pointer;
}

div.menu div.pop-up {
  background-color: black;
  position: absolute;
  visibility: hidden;
  padding: 16px;
}

div.menu div.pop-up a {
  color: white;
  display: block;
  text-decoration: none;
}


p.jump_to_page {
    text-align: right;
    margin: 8px;
}

p.jump_to_page_top {
    float: right;
    font-size: 11pt;
}

p.jump_to_page_top a {
    color: black;
}

p.jump_to_page_top a:visited {
    color: #c0c0c0;
}


div.inverse {
  background-color: #0064bd;
  background-image: url("/img/isopattern.svg");
  background-position: center; 
  background-size: 128px;
  padding-top: 16px;
  padding-bottom: 16px;
}

img#big-logo {
  float: left;
}

td.side-text {
  padding: 0;
}

p.center {
  text-align: center;
}

img#venn {
  display: block;
  margin-left: auto;
}

.tab-window-input,
.tab-window-output {
  width: 512px;
  box-shadow: 0 0 16px 16px #0064bd;
  border-radius: 12px;
}

.tab-header {
  height: 40px;
  background-color: #0064bd;
}

.tab-header div {
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px;
  display: block;
  float: left;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.tab-header div.selected {
  background-color: white;
  color: black;
}

.tab-header div.unselected {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.CodeMirror, .code-json, .code-error {
  width: 100%;
  padding: 16px;
  height: auto;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
  display: block;
  border-radius: 0 5px 5px 5px;
}

.unselected {
  display: none;
}

.CodeMirror-gutters {
  background: none;
}

.CodeMirror {
  padding-left: 8px;
}

.CodeMirror pre {
  padding: 0 16px;
}

.code-json, .code-error {
  resize: none;
  /* overflow: hidden; */
  background-color: white;
  outline: none;
  margin: 0;
  border: none;

  -moz-tab-size : 2;
    -o-tab-size : 2;
       tab-size : 2;
}

.code-error {
  color: red;
  font-size: 14px;
}

.bigarrow {
  font-size: 64px;
  color: #7facde;
  text-align: center;
  z-index: 3;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

p.footer {
  font-size: 16px;
  font-style: italic;
  color: white;
}

img.user-logo {
    padding: 8px;
}

pre.medium {
    font-size: 75%;
}
