{% include 'header.html.jinja' %}

<h3>News</h3>

<p><b>August 05, 2014</b> Jsonnet is currently in beta.  We are soliciting feedback from programming
languages experts and potential users.  Based on this feedback we may make backwards-incompatible
changes to the language in the near future.  After this process, there will be a v1.0 release that
will maintain backwards compatability.  In the mean time, feel free to check out the code and
experiment.</p>


<h1>Elevator Pitch</h1>

<p>Jsonnet is a domain specific language that allows you to more easily define <a
href="http://www.json.org">JSON</a> data.  Jsonnet lets you compute fragments of JSON within the
structure, bringing the same benefit to structured data that templating languages bring to plain
text.  The example below illustrates a few features -- referring to another part of the structure,
overriding obect fields, and string operations.</p>

<table class="landing-page-example">
<tr>
<td>
<pre><code>{{ myinclude('../examples/landingpage.jsonnet') }}</code></pre>
</td>
<td>
<span class="bigarrow">➡</span>
</td>
<td>
<pre><code>{{ myinclude('../examples/landingpage.jsonnet.golden') }}</code></pre>
</td>
</tr>
</table>

<p>Jsonnet is available as a command-line interpreter and a library, which  allows any system that
currently accepts JSON to transparently accept the full Jsonnet language.  Systems that
currently accept <a href="http://www.yaml.org">YAML</a> can easily be modified to accept
Jsonnet as well.</p>

<p> <b>Language features</b>: </p>

<ul>
<li>Extension of JSON, all valid JSON files are "do nothing" Jsonnet files</li>
<li>Arithmetic, logic, string manipulation, conditional execution...</li>
<li>Specialize and derive variants from existing data: powerful semantics based on <a
href="http://www.bracha.org/oopsla90.pdf">mixins</a>.</li>
<li>Abstraction and modular composition to enable <a
href="http://dl.acm.org/citation.cfm?id=808431">programming in the large</a>.</li>
<li>Organize utility functions, algorithms and abstract templates into importable libraries.</li>
<li>Error propagation provides friendly stack traces.</li>
<li>Built on solid programming language theory with a formal operational semantics.</li>
<li>No permitted side-effects: elaborate your data safely and deterministically.</li>
</ul>

<h2>Who should use Jsonnet?</h2>

<p>You should use Jsonnet if you have a lot of human-sourced data that you need to organize, or if
you are writing a tool that inputs that kind of data and you want to help your users be organized.
Some examples:</p>

<ul>

<li><b>Application configuration</b>:  Use Jsonnet for processing config files that live in /etc.</li>

<li><b>Build systems</b>:  Use Jsonnet for expressing exactly what compiler flags / files /
libraries go into different variations of a build, e.g. optimized, debug, profiling, different
platforms, etc.</li>

<li><b>Packaging systems</b>:  Use Jsonnet for configuration that has complex rules about what files are to
be included in the package depending on the given circumstances.</li>

<li><b>Configuration Management</b>:  Use Jsonnet for configuring the set of packages and daemons
that comprise each of a variety of unix systems.</li>

<li><b>Cloud deployment</b>:  Use Jsonnet for elegantly expressing variants of a service infrastructure,
such as production, local test, integration test, load test, etc.</li>

<li><b>All of the above</b>:  Jsonnet is general and re-usable.  Its value grows if it is used in
more than one domain.</li>

</ul>

<h2>Comparison with YAML</h2>

<p> YAML is also an extension of JSON that generates JSON.  Like Jsonnet, it is intended to improve
the user experience when data is transfered over the human / machine boundary.  Its syntax is very
tight; YAML files are much shorter than their JSON equivalents.  However its constructs for
generating, translating, and refining data are very weak in comparison to Jsonnet.  Moreover, the
tightness of its syntax makes it hard to extend YAML to add these features.  In particular, YAML and
Jsonnet disagree about what 1+1 should mean.  YAML thinks it should be the string "1+1", whereas
Jsonnet thinks it should be 2.  Jsonnet therefore builds from JSON and not YAML.</p>

<h2>Provenance, Copyright, License</h2>

<p>Jsonnet was designed and implemented at Google as a 20% project.  The name Jsonnet is a
contraction of JSON and <a href="http://en.wikipedia.org/wiki/Sonnet"><i>sonnet</i></a>.  It has
been open-sourced under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
license.  Jsonnet is not an official Google product.</p>

{% include 'footer.html.jinja' %}
