{% include 'header.html.jinja' %}

<h1>Language</h1>

<ul>
<li> <a href="design.html">Design</a> </li>
<li> <a href="comparisons.html">Comparisons</a> </li>
<li> <a href="spec.html">Specification</a> </li>
</ul>

{% include 'footer.html.jinja' %}
