{% include 'header.html.jinja' %}

<h1>Documentation for users</h1>

<ul>
<li> <a href="tutorial.html">Tutorial</a> </li>
<li> <a href="demo.html">Demo</a> </li>
<li> <a href="stdlib.html">Standard Library</a> </li>
</ul>

{% include 'footer.html.jinja' %}
