local libservice = import "lib/libservice.jsonnet";

local fractal = import "fractal/main.jsonnet"

{
    environments: {
        default: libservice.GcpCredentials {
            project: "verbing-noun-123",  // CHANGE ME!
            serviceAccount: import "dev_service_account_key.json",  // PROVIDE THIS FILE!
            sshUser: "someuser",  // CHANGE ME!
        }
    },

    fractal: fractal.Service {
        cassandraUserPass: "xxxxxxxx",  // CHANGE ME!
        cassandraRootPass: "XXXXXXXX",  // CHANGE ME!
        dnsSuffix: "dev.yourdomain.com.",  // CHANGE ME!
    },
}
